$main-bg: pink;
$c-a: center;
$nav-pos: -10000px;
$nav-bg: white;
$nav-border: solid black;
$nav-radius: 10px;
:root {
  font-size: 16px;
}
nav {
  top: $main-bg;
  left: $nav-pos;
  background-color: $nav-bg;
  border: $nav-border;
  border-radius: $nav-radius;
}
