:root {
    --main-bg: pink;
    --c-a: center;
    --nav-pos: -10000px;
    --nav-bg: white;
    --nav-border: solid black;
    --nav-radius: 10px;
}
nav {
    top: var(--nav-pos);
    left: var(--nav-pos);
    background-color: var(--nav-bg);
    border: var(--nav-border);
    border-radius: var(--nav-radius);
}
